Repository inker/draw: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=0 --fix, prettier --cache --write, stylelint --fix

perf
  src/engine/dfs/ls/generatePairings/getFirstSuitableMatch.ts
Due: eslint --max-warnings=0 --fix, prettier --cache --write

ls by default
  src/config.ts
  src/routes/Pages/index.tsx
Due: eslint --max-warnings=0 --fix, prettier --cache --write

cl ls 2025
  src/config.ts
  src/data/cl/ls/2025/pairings.txt
  src/data/cl/ls/2025/pots.json
Due: eslint --max-warnings=0 --fix, prettier --cache --write

upd
  src/engine/dfs/ls/generatePairings/getFirstSuitableMatch.ts
  src/engine/dfs/ls/generateSchedule/getFirstSuitableMatchday.wrapper.ts
Due: eslint --max-warnings=0 --fix, prettier --cache --write

Paris -> Paris SG
  src/data/cl/gs/2000/pots.json
  src/data/cl/gs/2004/pots.json
  src/data/cl/gs/2012/pots.json
  src/data/cl/gs/2013/pots.json
  src/data/cl/gs/2014/pots.json
  src/data/cl/gs/2015/pots.json
  src/data/cl/gs/2016/pots.json
  src/data/cl/gs/2017/pots.json
  src/data/cl/gs/2018/pots.json
  src/data/cl/gs/2019/pots.json
  src/data/cl/gs/2020/pots.json
  src/data/cl/gs/2021/pots.json
  src/data/cl/gs/2022/pots.json
  src/data/cl/gs/2023/pots.json
  src/data/cl/ko/2012/pots.json
  src/data/cl/ko/2013/pots.json
  src/data/cl/ko/2014/pots.json
  src/data/cl/ko/2015/pots.json
  src/data/cl/ko/2016/pots.json
  src/data/cl/ko/2017/pots.json
  src/data/cl/ko/2018/pots.json
  src/data/cl/ko/2019/pots.json
  src/data/cl/ko/2020/pots.json
  src/data/cl/ko/2021/pots.json
  src/data/cl/ko/2022/pots.json
  src/data/cl/ko/2023/pots.json
  src/data/cl/ls/2024/pots.json
  src/data/cl/ls/2025/pots.json
  src/data/el/gs/2010/pots.json
  src/data/el/gs/2011/pots.json
  src/data/el/ko/2010/pots.json
Due: eslint --max-warnings=0 --fix, prettier --cache --write

fix
  src/data/cl/gs/2018/pairings.txt
  src/data/cl/gs/2019/pairings.txt
  src/data/cl/gs/2020/pairings.txt
  src/data/cl/gs/2021/pairings.txt
  src/data/cl/gs/2022/pairings.txt
  src/data/cl/gs/2023/pairings.txt
  src/data/cl/ls/2024/pairings.txt
  src/data/cl/ls/2025/pairings.txt
Due: none

test
  src/engine/dfs/ls/generatePairings/getFirstSuitableMatch.ts
Due: eslint --max-warnings=0 --fix, prettier --cache --write

revert
  src/engine/dfs/ls/generatePairings/getFirstSuitableMatch.ts
Due: eslint --max-warnings=0 --fix, prettier --cache --write

upd
  src/engine/dfs/ls/generatePairings/getFirstSuitableMatch.ts
Due: eslint --max-warnings=0 --fix, prettier --cache --write

cl pots
  src/data/cl/ls/2025/pots.json
Due: eslint --max-warnings=0 --fix, prettier --cache --write

el pots
  src/data/el/ls/2025/pairings.txt
  src/data/el/ls/2025/pots.json
Due: eslint --max-warnings=0 --fix, prettier --cache --write

ecl pots
  src/config.ts
  src/data/ecl/ls/2025/pairings.txt
  src/data/ecl/ls/2025/pots.json
Due: eslint --max-warnings=0 --fix, prettier --cache --write

candidates
  src/engine/dfs/ls/generatePairings/getFirstSuitableMatch.ts
Due: eslint --max-warnings=0 --fix, prettier --cache --write

temporarily disable candidates
  src/engine/dfs/ls/generatePairings/getFirstSuitableMatch.ts
Due: eslint --max-warnings=0 --fix, prettier --cache --write

further filtering
  src/engine/dfs/ls/generatePairings/getFirstSuitableMatch.ts
Due: eslint --max-warnings=0 --fix, prettier --cache --write

rename
  src/engine/dfs/ls/generatePairings/getFirstSuitableMatch.ts
Due: eslint --max-warnings=0 --fix, prettier --cache --write

more
  src/engine/dfs/ls/generatePairings/getFirstSuitableMatch.ts
Due: eslint --max-warnings=0 --fix, prettier --cache --write

fix
  src/engine/dfs/ls/generatePairings/getFirstSuitableMatch.ts
Due: eslint --max-warnings=0 --fix, prettier --cache --write

deduplicate
  src/engine/dfs/ls/generatePairings/getFirstSuitableMatch.ts
Due: eslint --max-warnings=0 --fix, prettier --cache --write

reorder
  src/engine/dfs/ls/generatePairings/getFirstSuitableMatch.ts
Due: eslint --max-warnings=0 --fix, prettier --cache --write

simplify
  src/engine/dfs/ls/generatePairings/getFirstSuitableMatch.ts
Due: eslint --max-warnings=0 --fix, prettier --cache --write

typing
  src/engine/dfs/ls/generatePairings/getFirstSuitableMatch.ts
Due: eslint --max-warnings=0 --fix, prettier --cache --write

fix
  src/engine/dfs/ls/generateSchedule/getFirstSuitableMatchday.wrapper.ts
Due: eslint --max-warnings=0 --fix, prettier --cache --write

simplify
  src/engine/dfs/ls/generateSchedule/getFirstSuitableMatchday.ts
  src/engine/dfs/ls/generateSchedule/getFirstSuitableMatchday.wrapper.ts
Due: eslint --max-warnings=0 --fix, prettier --cache --write

upd
  src/engine/dfs/ls/generateSchedule/getFirstSuitableMatchday.ts
Due: eslint --max-warnings=0 --fix, prettier --cache --write

--no-fund
  .github/workflows/code-quality.yml
  .github/workflows/gh-pages.yml
Due: none

update minor dependencies
  build/package-lock.json
  package-lock.json
Due: none

update webpack-cli
  build/package-lock.json
  build/package.json
Due: none

update lint-staged
  package-lock.json
  package.json
Due: none

css modules migration
  build/webpack/rules.js
  package-lock.json
  package.json
  src/containers/LeagueStage/Matrix/index.tsx
  src/containers/LeagueStage/Matrix/styles.module.scss
  src/containers/LeagueStage/Schedule.tsx
  src/containers/LeagueStage/Schedule/index.tsx
  src/containers/LeagueStage/Schedule/styles.module.scss
  src/containers/LeagueStage/index.tsx
  src/containers/LeagueStage/styles.module.scss
  src/engine/dfs/ls/generateSchedule/getFirstSuitableMatchday.ts
  src/typings.d.ts
Due: eslint --max-warnings=0 --fix, prettier --cache --write, stylelint --fix

fix
  src/engine/dfs/ls/generateSchedule/getFirstSuitableMatchday.ts
Due: eslint --max-warnings=0 --fix, prettier --cache --write

css modules
  src/ui/Checkbox/index.tsx
  src/ui/Checkbox/styles.module.scss
  src/ui/Dots/index.tsx
  src/ui/Dots/styles.module.scss
Due: eslint --max-warnings=0 --fix, prettier --cache --write, stylelint --fix

fix
  src/ui/Dots/index.tsx
Due: eslint --max-warnings=0 --fix, prettier --cache --write

group header colours
  src/App.tsx
  src/pages/cl/gs/index.tsx
  src/pages/cl/gs/styles.module.scss
  src/pages/el/gs/index.tsx
  src/pages/el/gs/styles.module.scss
  src/pages/wc/gs/index.tsx
  src/pages/wc/gs/styles.module.scss
  src/ui/GroupsContainer/Group.tsx
  src/ui/GroupsContainer/index.tsx
Due: eslint --max-warnings=0 --fix, prettier --cache --write, stylelint --fix

css modules
  src/ui/GroupsContainer/GroupCellDeferred.tsx
  src/ui/GroupsContainer/index.tsx
  src/ui/GroupsContainer/styles.module.scss
  src/ui/bowls/GroupBowl/index.tsx
  src/ui/bowls/GroupBowl/styles.module.scss
  src/ui/bowls/TeamBowl/index.tsx
  src/ui/bowls/TeamBowl/styles.module.scss
Due: eslint --max-warnings=0 --fix, prettier --cache --write, stylelint --fix

css modules
  src/routes/Navbar/GitHubButtons/index.tsx
  src/routes/Navbar/GitHubButtons/styles.module.scss
  src/routes/Navbar/index.tsx
  src/routes/Navbar/styles.module.scss
  src/ui/Announcement/LongCalculation/index.tsx
  src/ui/Announcement/LongCalculation/styles.module.scss
  src/ui/Announcement/PossibleGroups/index.tsx
  src/ui/Announcement/PossibleGroups/styles.module.scss
  src/ui/Announcement/index.tsx
  src/ui/Announcement/styles.module.scss
  src/ui/PotsContainer/Pot.tsx
  src/ui/PotsContainer/index.tsx
  src/ui/PotsContainer/styles.module.scss
Due: eslint --max-warnings=0 --fix, prettier --cache --write, stylelint --fix

Path conditions:
  eslint --max-warnings=0 --fix: any of: src/**/*.{js,jsx,ts,tsx,json}
  prettier --cache --write: (any of: src/**/*.{js,jsx,ts,tsx,json}) or (any of: src/**/*.{css,postcss,scss})
  stylelint --fix: any of: src/**/*.{css,postcss,scss}
