Repository inker/draw: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=0 --fix, prettier --cache --write, stylelint --fix

.lintstagedrc:

{
  "src/**/*.{js,jsx,ts,tsx,json}": [
    "eslint --max-warnings=0 --fix",
    "prettier --cache --write",
    "git add"
  ],
  "src/**/*.{css,postcss,scss}": [
    "stylelint --fix",
    "prettier --cache --write",
    "git add"
  ]
}

pots container
  src/ui/PotsContainer/Root.ts
  src/ui/PotsContainer/index.tsx
  src/ui/PotsContainer/styles.module.scss
Due: eslint --max-warnings=0 --fix, prettier --cache --write, stylelint --fix

ditch roundel
  src/ui/Announcement/PossibleGroups/index.tsx
  src/ui/Announcement/PossibleGroups/styles.module.scss
  src/ui/Announcement/Roundel.ts
Due: eslint --max-warnings=0 --fix, prettier --cache --write, stylelint --fix

fixed overlay
  src/ui/FixedOverlay/index.tsx
  src/ui/FixedOverlay/styles.module.scss
Due: eslint --max-warnings=0 --fix, prettier --cache --write, stylelint --fix

remove unused makeStyleClass
  src/utils/makeStyleClass.ts
Due: eslint --max-warnings=0 --fix, prettier --cache --write

css modules
  src/ui/GroupsContainer/GroupCellBase.ts
  src/ui/GroupsContainer/GroupCellDeferred/index.tsx
  src/ui/GroupsContainer/GroupCellDeferred/styles.module.scss
  src/ui/MatchupsContainer/Matchup/index.tsx
  src/ui/MatchupsContainer/Matchup/styles.module.scss
  src/ui/MatchupsContainer/MatchupCellBase.ts
  src/ui/MatchupsContainer/MatchupCellDeferred/index.tsx
  src/ui/MatchupsContainer/MatchupCellDeferred/styles.module.scss
  src/ui/MatchupsContainer/index.tsx
  src/ui/MatchupsContainer/styles.module.scss
Due: eslint --max-warnings=0 --fix, prettier --cache --write, stylelint --fix

moving content
  src/ui/MovingContent/index.tsx
  src/ui/MovingContent/styles.module.scss
Due: eslint --max-warnings=0 --fix, prettier --cache --write, stylelint --fix

fix css module config
  build/webpack/rules.js
Due: none

update
  src/ui/SelectWithHiddenLabel/index.tsx
  src/ui/SelectWithHiddenLabel/styles.module.scss
Due: eslint --max-warnings=0 --fix, prettier --cache --write, stylelint --fix

upd theme
  src/App.tsx
  src/Body.ts
  src/theme.css
  src/themes.ts
  src/ui/Button.ts
  src/ui/Checkbox/index.tsx
  src/ui/Modal/Background.ts
  src/ui/PotsContainer/PotCell.ts
  src/ui/PotsContainer/PotContent.ts
  src/ui/SelectWithHiddenLabel/index.tsx
  src/ui/StyledLink.ts
  src/ui/table/Cell.ts
  src/ui/table/Row.ts
  src/ui/table/Table.ts
Due: eslint --max-warnings=0 --fix, prettier --cache --write, stylelint --fix

pot
  src/ui/PotsContainer/Pot/index.tsx
  src/ui/PotsContainer/PotRoot.ts
  src/ui/PotsContainer/PotRow/index.tsx
  src/ui/PotsContainer/PotRow/styles.module.scss
Due: eslint --max-warnings=0 --fix, prettier --cache --write, stylelint --fix

types
  src/ui/PotsContainer/PotRow/index.tsx
Due: eslint --max-warnings=0 --fix, prettier --cache --write

modal
  src/ui/Modal/Background.ts
  src/ui/Modal/Body.ts
  src/ui/Modal/index.tsx
  src/ui/Modal/styles.module.scss
Due: eslint --max-warnings=0 --fix, prettier --cache --write, stylelint --fix

notification
  src/ui/Notification.tsx
  src/ui/Notification/index.tsx
  src/ui/Notification/styles.module.scss
Due: eslint --max-warnings=0 --fix, prettier --cache --write, stylelint --fix

separator
  src/pages/cl/ko/index.tsx
  src/pages/el/ko/index.tsx
  src/ui/Separator.ts
  src/ui/separator.module.scss
Due: eslint --max-warnings=0 --fix, prettier --cache --write, stylelint --fix

button
  src/containers/LeagueStage/index.tsx
  src/routes/Navbar/index.tsx
  src/ui/Button.ts
  src/ui/Button/index.tsx
  src/ui/Button/styles.module.scss
Due: eslint --max-warnings=0 --fix, prettier --cache --write, stylelint --fix

select
  src/ui/SelectWithHiddenLabel/index.tsx
  src/ui/SelectWithHiddenLabel/styles.module.scss
Due: eslint --max-warnings=0 --fix, prettier --cache --write, stylelint --fix

cell
  src/ui/GroupsContainer/Group.tsx
  src/ui/GroupsContainer/GroupCellDeferred/index.tsx
  src/ui/MatchupsContainer/Matchup/index.tsx
  src/ui/MatchupsContainer/MatchupCellDeferred/index.tsx
  src/ui/PotsContainer/Pot/index.tsx
  src/ui/PotsContainer/PotCell.ts
  src/ui/PotsContainer/PotRow/index.tsx
  src/ui/table/cell.module.scss
Due: eslint --max-warnings=0 --fix, prettier --cache --write, stylelint --fix

bowls container
  src/pages/cl/gs/index.tsx
  src/pages/cl/ko/index.tsx
  src/pages/el/gs/index.tsx
  src/pages/el/ko/index.tsx
  src/pages/wc/gs/index.tsx
  src/ui/bowls-container.module.scss
Due: eslint --max-warnings=0 --fix, prettier --cache --write, stylelint --fix

ditch Visibility
  src/global.css
  src/routes/Navbar/index.tsx
  src/routes/index.tsx
  src/ui/Visibility.ts
Due: eslint --max-warnings=0 --fix, prettier --cache --write, stylelint --fix

ditch table tr
  src/ui/GroupsContainer/Group.tsx
  src/ui/MatchupsContainer/Matchup/index.tsx
  src/ui/PotsContainer/Pot/index.tsx
  src/ui/PotsContainer/PotRow/index.tsx
  src/ui/table/Row.ts
  src/ui/table/Table.ts
Due: eslint --max-warnings=0 --fix, prettier --cache --write

fix global css
  src/App.tsx
Due: eslint --max-warnings=0 --fix, prettier --cache --write

fix visibility
  src/global.css
  src/routes/index.tsx
Due: eslint --max-warnings=0 --fix, prettier --cache --write, stylelint --fix

remove text shadow
  src/ui/table/Content.ts
Due: eslint --max-warnings=0 --fix, prettier --cache --write

pot
  src/ui/PotsContainer/Pot/index.tsx
  src/ui/PotsContainer/Pot/styles.module.scss
  src/ui/PotsContainer/PotContent.ts
  src/ui/PotsContainer/PotHeader.ts
  src/ui/PotsContainer/PotRow/index.tsx
  src/ui/PotsContainer/PotRow/styles.module.scss
Due: eslint --max-warnings=0 --fix, prettier --cache --write, stylelint --fix

css
  src/App.tsx
  src/global.scss
  src/index.tsx
Due: eslint --max-warnings=0 --fix, prettier --cache --write, stylelint --fix

checkbox
  src/ui/Checkbox/index.tsx
  src/ui/Checkbox/styles.module.scss
Due: eslint --max-warnings=0 --fix, prettier --cache --write, stylelint --fix

ditch themes
  src/App.tsx
  src/Body.ts
  src/themes.ts
Due: eslint --max-warnings=0 --fix, prettier --cache --write

ditch Body
  src/App.tsx
  src/Body.ts
  src/global.scss
Due: eslint --max-warnings=0 --fix, prettier --cache --write, stylelint --fix

styled link
  src/global.scss
  src/routes/Navbar/index.tsx
  src/ui/Announcement/LongCalculation/index.tsx
  src/ui/StyledLink.ts
Due: eslint --max-warnings=0 --fix, prettier --cache --write, stylelint --fix

fix
  src/ui/Announcement/Download.tsx
  src/ui/ButtonLink.ts
Due: eslint --max-warnings=0 --fix, prettier --cache --write

page root
  src/global.scss
  src/pages/cl/gs/index.tsx
  src/pages/cl/ko/index.tsx
  src/pages/el/gs/index.tsx
  src/pages/el/ko/index.tsx
  src/pages/wc/gs/index.tsx
  src/ui/PageRoot.ts
Due: eslint --max-warnings=0 --fix, prettier --cache --write, stylelint --fix

fix formatting issues
  src/pages/cl/gs/index.tsx
  src/pages/cl/ko/index.tsx
  src/pages/el/gs/index.tsx
  src/pages/el/ko/index.tsx
  src/pages/wc/gs/index.tsx
  src/ui/SelectWithHiddenLabel/index.tsx
Due: eslint --max-warnings=0 --fix, prettier --cache --write

tables container
  src/global.scss
  src/pages/cl/gs/index.tsx
  src/pages/cl/ko/index.tsx
  src/pages/el/gs/index.tsx
  src/pages/el/ko/index.tsx
  src/pages/wc/gs/index.tsx
  src/ui/TablesContainer.ts
Due: eslint --max-warnings=0 --fix, prettier --cache --write, stylelint --fix

overlay
  src/ui/Modal/index.tsx
  src/ui/Overlay.ts
  src/ui/overlay.module.scss
Due: eslint --max-warnings=0 --fix, prettier --cache --write, stylelint --fix

button-link
  src/global.scss
  src/ui/Announcement/Download.tsx
  src/ui/Announcement/index.tsx
  src/ui/ButtonLink.ts
Due: eslint --max-warnings=0 --fix, prettier --cache --write, stylelint --fix

update localIdentName
  build/webpack/rules.js
Due: none

automatic matrix size
  src/containers/LeagueStage/Matrix/index.tsx
  src/containers/LeagueStage/Matrix/styles.module.scss
Due: eslint --max-warnings=0 --fix, prettier --cache --write, stylelint --fix

upd
  src/containers/LeagueStage/Matrix/styles.module.scss
Due: prettier --cache --write, stylelint --fix

cap at 20px
  src/containers/LeagueStage/Matrix/styles.module.scss
Due: prettier --cache --write, stylelint --fix

fix padding
  src/containers/LeagueStage/Matrix/styles.module.scss
Due: prettier --cache --write, stylelint --fix
