Repository inker/draw: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=0 --fix, prettier --cache --write, stylelint --fix

.lintstagedrc:

{
  "src/**/*.{js,jsx,ts,tsx,json}": [
    "eslint --max-warnings=0 --fix",
    "prettier --cache --write",
    "git add"
  ],
  "src/**/*.{css,postcss,scss}": [
    "stylelint --fix",
    "prettier --cache --write",
    "git add"
  ]
}

repeats
  src/engine/dfs/ls/generateSchedule/index.ts
Due: eslint --max-warnings=0 --fix, prettier --cache --write

rename
  src/engine/dfs/ls/generateSchedule/index.ts
Due: eslint --max-warnings=0 --fix, prettier --cache --write

brighter colours in matrix for dark mode
  src/containers/LeagueStage/Matrix/index.tsx
  src/containers/LeagueStage/Matrix/styles.module.scss
Due: eslint --max-warnings=0 --fix, prettier --cache --write, stylelint --fix

replace npm-run-all with npm-run-all2
  package-lock.json
  package.json
Due: none

WorkerManager
  src/engine/dfs/ls/generatePairings/index.ts
  src/utils/WorkerManager.ts
Due: eslint --max-warnings=0 --fix, prettier --cache --write

reuse worker manager
  src/utils/raceWorkers.ts
Due: eslint --max-warnings=0 --fix, prettier --cache --write

update style
  src/containers/LeagueStage/Schedule/styles.module.scss
Due: prettier --cache --write, stylelint --fix

rename
  src/engine/dfs/ls/generatePairings/getFirstSuitableMatch.ts
  src/engine/dfs/ls/generatePairings/index.ts
Due: eslint --max-warnings=0 --fix, prettier --cache --write

simulate generation by team
  package-lock.json
  package.json
  src/containers/LeagueStage/OpponentList/index.tsx
  src/containers/LeagueStage/OpponentList/styles.module.scss
  src/containers/LeagueStage/index.tsx
  src/containers/LeagueStage/styles.module.scss
  src/engine/dfs/ls/generatePairings/index.ts
  src/routes/Navbar/index.tsx
Due: eslint --max-warnings=0 --fix, prettier --cache --write, stylelint --fix

update
  src/containers/LeagueStage/index.tsx
Due: eslint --max-warnings=0 --fix, prettier --cache --write

update
  src/containers/LeagueStage/index.tsx
  src/containers/LeagueStage/styles.module.scss
  src/ui/bowls/TeamBowl/index.tsx
  src/ui/bowls/TeamBowl/styles.module.scss
Due: eslint --max-warnings=0 --fix, prettier --cache --write, stylelint --fix

fix
  src/containers/LeagueStage/OpponentList/index.tsx
Due: eslint --max-warnings=0 --fix, prettier --cache --write

rename
  src/containers/LeagueStage/index.tsx
Due: eslint --max-warnings=0 --fix, prettier --cache --write

inline
  src/containers/LeagueStage/index.tsx
Due: eslint --max-warnings=0 --fix, prettier --cache --write

responsive ContentWithFlag
  src/ui/table/ContentWithFlag/styles.module.scss
Due: prettier --cache --write, stylelint --fix

improve animations
  src/containers/LeagueStage/OpponentList/index.tsx
  src/containers/LeagueStage/OpponentList/styles.module.scss
  src/containers/LeagueStage/index.tsx
Due: eslint --max-warnings=0 --fix, prettier --cache --write, stylelint --fix

update
  src/containers/LeagueStage/OpponentList/index.tsx
Due: eslint --max-warnings=0 --fix, prettier --cache --write

simplify
  src/containers/LeagueStage/OpponentList/index.tsx
Due: eslint --max-warnings=0 --fix, prettier --cache --write

fix switch
  src/containers/LeagueStage/index.tsx
Due: eslint --max-warnings=0 --fix, prettier --cache --write

slower animations
  src/containers/LeagueStage/index.tsx
Due: eslint --max-warnings=0 --fix, prettier --cache --write

throw after timeout
  src/engine/dfs/ls/generateSchedule/index.ts
Due: eslint --max-warnings=0 --fix, prettier --cache --write

fix font size
  src/containers/LeagueStage/OpponentList/styles.module.scss
Due: prettier --cache --write, stylelint --fix

update text
  src/containers/LeagueStage/index.tsx
  src/containers/LeagueStage/styles.module.scss
Due: eslint --max-warnings=0 --fix, prettier --cache --write, stylelint --fix

upcate
  src/ui/Button/index.tsx
Due: eslint --max-warnings=0 --fix, prettier --cache --write

simplify
  src/containers/LeagueStage/OpponentList/index.tsx
  src/containers/LeagueStage/index.tsx
Due: eslint --max-warnings=0 --fix, prettier --cache --write

update text
  src/containers/LeagueStage/index.tsx
Due: eslint --max-warnings=0 --fix, prettier --cache --write

inline pairs
  src/containers/LeagueStage/Schedule/index.tsx
  src/containers/LeagueStage/Schedule/styles.module.scss
Due: eslint --max-warnings=0 --fix, prettier --cache --write, stylelint --fix

rename class
  src/containers/LeagueStage/Schedule/index.tsx
  src/containers/LeagueStage/Schedule/styles.module.scss
Due: eslint --max-warnings=0 --fix, prettier --cache --write, stylelint --fix

pots
  src/data/cl/ls/2025/pots.json
  src/data/el/ls/2025/pairings.txt
  src/data/el/ls/2025/pots.json
Due: eslint --max-warnings=0 --fix, prettier --cache --write

pots
  src/data/cl/ls/2025/pots.json
  src/data/el/ls/2025/pots.json
Due: eslint --max-warnings=0 --fix, prettier --cache --write

update pots
  src/data/ecl/ls/2025/pairings.txt
  src/data/ecl/ls/2025/pots.json
  src/data/el/ls/2025/pots.json
Due: eslint --max-warnings=0 --fix, prettier --cache --write

remove bertHost
  src/config.ts
Due: eslint --max-warnings=0 --fix, prettier --cache --write

fix webpack
  package-lock.json
  package.json
Due: none

minor dependencies
  build/package-lock.json
  package-lock.json
Due: none

update stylelint-config-standard-scss
  package-lock.json
  package.json
Due: none

update
  src/engine/predicates/wc/index.ts
Due: eslint --max-warnings=0 --fix, prettier --cache --write

support for forced group
  src/data/wc-2018.txt
  src/data/wc-2022.txt
  src/model/parsePotsData/wc.ts
  src/model/team/NationalTeam.ts
  src/pages/wc/gs/index.tsx
  src/routes/Pages/getWcPots.ts
Due: eslint --max-warnings=0 --fix, prettier --cache --write
