Repository inker/draw: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=0 --fix, prettier --cache --write, stylelint --fix

.lintstagedrc:

{
  "src/**/*.{js,jsx,ts,tsx,json}": [
    "eslint --max-warnings=0 --fix",
    "prettier --cache --write",
    "git add"
  ],
  "src/**/*.{css,postcss,scss}": [
    "stylelint --fix",
    "prettier --cache --write",
    "git add"
  ]
}

simplify styles
  src/containers/LeagueStage/Matrix/index.tsx
  src/containers/LeagueStage/Matrix/styles.module.scss
Due: eslint --max-warnings=0 --fix, prettier --cache --write, stylelint --fix

pots
  src/data/ecl/ls/2025/pots.json
  src/data/el/ls/2025/pairings.txt
  src/data/el/ls/2025/pots.json
Due: eslint --max-warnings=0 --fix, prettier --cache --write

pots
  src/data/el/ls/2025/pots.json
Due: eslint --max-warnings=0 --fix, prettier --cache --write

use set
  src/engine/dfs/ls/generateSchedule/getFirstSuitableMatchday.ts
Due: eslint --max-warnings=0 --fix, prettier --cache --write

upd
  src/engine/dfs/ls/generateSchedule/getFirstSuitableMatchday.ts
  src/utils/rangeGenerator.ts
Due: eslint --max-warnings=0 --fix, prettier --cache --write

timer
  src/containers/LeagueStage/index.tsx
  src/utils/formatDuration.ts
  src/utils/hooks/useTimer.ts
Due: eslint --max-warnings=0 --fix, prettier --cache --write

fix
  src/engine/dfs/ls/generateSchedule/getFirstSuitableMatchday.wrapper.ts
Due: eslint --max-warnings=0 --fix, prettier --cache --write

upd
  src/engine/dfs/ls/generateSchedule/getFirstSuitableMatchday.wrapper.ts
Due: eslint --max-warnings=0 --fix, prettier --cache --write

reuse delay.js
  src/utils/hooks/useTimer.ts
Due: eslint --max-warnings=0 --fix, prettier --cache --write

dynamic numworkers
  src/containers/LeagueStage/index.tsx
  src/engine/dfs/ls/generateSchedule/getFirstSuitableMatchday.wrapper.ts
  src/engine/dfs/ls/generateSchedule/index.ts
  src/utils/hooks/useDocumentEvent.ts
  src/utils/hooks/usePageVisible.ts
  src/utils/raceWorkers.ts
Due: eslint --max-warnings=0 --fix, prettier --cache --write

upd
  src/engine/dfs/ls/generateSchedule/getFirstSuitableMatchday.wrapper.ts
  src/utils/raceWorkers.ts
Due: eslint --max-warnings=0 --fix, prettier --cache --write

upd
  src/containers/LeagueStage/index.tsx
Due: eslint --max-warnings=0 --fix, prettier --cache --write

pots
  src/data/ecl/ls/2025/pots.json
Due: eslint --max-warnings=0 --fix, prettier --cache --write

fix
  src/engine/dfs/ls/generateSchedule/getFirstSuitableMatchday.ts
Due: eslint --max-warnings=0 --fix, prettier --cache --write

pots
  src/data/ecl/ls/2025/pots.json
  src/data/el/ls/2025/pots.json
Due: eslint --max-warnings=0 --fix, prettier --cache --write

update
  src/containers/LeagueStage/Schedule/index.tsx
  src/ui/GroupsContainer/GroupCellDeferred/index.tsx
  src/ui/MatchupsContainer/MatchupCellDeferred/index.tsx
  src/ui/MatchupsContainer/index.tsx
  src/ui/MovingContent/index.tsx
  src/ui/PotsContainer/PotRow/index.tsx
  src/ui/table/Content/index.tsx
  src/ui/table/Content/styles.module.scss
  src/ui/table/ContentWithFlag.ts
  src/ui/table/ContentWithFlag/index.tsx
  src/ui/table/ContentWithFlag/styles.module.scss
  src/ui/table/DummyContent.ts
  src/ui/table/Header.ts
  src/ui/table/Header/index.tsx
  src/ui/table/Header/styles.module.scss
  src/ui/table/Table/index.tsx
  src/ui/table/Table/styles.module.scss
  src/ui/table/base-content.module.scss
Due: eslint --max-warnings=0 --fix, prettier --cache --write, stylelint --fix

balls
  src/ui/ball.module.scss
  src/ui/bowls/BowlBall/index.tsx
  src/ui/bowls/BowlBall/styles.module.scss
  src/ui/bowls/GroupBowl/Ball.ts
  src/ui/bowls/GroupBowl/index.tsx
  src/ui/bowls/GroupBowl/styles.module.scss
  src/ui/bowls/TeamBowl/Ball.ts
  src/ui/bowls/TeamBowl/index.tsx
  src/ui/bowls/TeamBowl/styles.module.scss
Due: eslint --max-warnings=0 --fix, prettier --cache --write, stylelint --fix

ditch styled-components
  build/webpack/rules.js
  package-lock.json
  package.json
  src/App.tsx
  src/containers/LeagueStage/Matrix/index.tsx
  src/containers/LeagueStage/Matrix/styles.module.scss
  src/global.scss
  src/routes/Navbar/styles.module.scss
  src/ui/Announcement/Download.tsx
  src/ui/Announcement/styles.module.scss
  src/ui/FixedOverlay/styles.module.scss
  src/ui/MatchupsContainer/MatchupCellDeferred/index.tsx
  src/ui/NoTransitions.ts
  src/ui/Notification/styles.module.scss
  src/ui/PotsContainer/styles.module.scss
  src/ui/ball.module.scss
  src/ui/bowls-container.module.scss
  src/ui/bowls/BowlBall/styles.module.scss
  src/ui/bowls/GroupBowl/styles.module.scss
  src/ui/bowls/TeamBowl/styles.module.scss
  src/ui/table/Content/styles.module.scss
  src/ui/table/ContentWithFlag/styles.module.scss
  src/ui/table/Table/styles.module.scss
  src/ui/table/base-content.module.scss
  src/ui/table/cell.module.scss
  stylelint.config.js
Due: eslint --max-warnings=0 --fix, prettier --cache --write, stylelint --fix

fix
  src/containers/LeagueStage/Matrix/index.tsx
Due: eslint --max-warnings=0 --fix, prettier --cache --write

list
  src/containers/LeagueStage/Schedule/index.tsx
  src/global.scss
Due: eslint --max-warnings=0 --fix, prettier --cache --write, stylelint --fix

iterator
  src/containers/LeagueStage/Schedule/index.tsx
Due: eslint --max-warnings=0 --fix, prettier --cache --write

css var
  src/containers/LeagueStage/Schedule/index.tsx
  src/containers/LeagueStage/Schedule/styles.module.scss
Due: eslint --max-warnings=0 --fix, prettier --cache --write, stylelint --fix

upd
  src/containers/LeagueStage/Schedule/index.tsx
Due: eslint --max-warnings=0 --fix, prettier --cache --write

list
  src/containers/LeagueStage/Schedule/index.tsx
Due: eslint --max-warnings=0 --fix, prettier --cache --write

upd
  src/containers/LeagueStage/Schedule/styles.module.scss
Due: prettier --cache --write, stylelint --fix

upd
  src/containers/LeagueStage/Schedule/index.tsx
  src/containers/LeagueStage/Schedule/styles.module.scss
Due: eslint --max-warnings=0 --fix, prettier --cache --write, stylelint --fix

fix dark theme
  src/containers/LeagueStage/Matrix/index.tsx
  src/containers/LeagueStage/Matrix/styles.module.scss
  src/containers/LeagueStage/Schedule/styles.module.scss
Due: eslint --max-warnings=0 --fix, prettier --cache --write, stylelint --fix

scope vars
  src/containers/LeagueStage/Matrix/styles.module.scss
Due: prettier --cache --write, stylelint --fix

move
  src/containers/LeagueStage/Matrix/index.tsx
  src/containers/LeagueStage/Matrix/styles.module.scss
Due: eslint --max-warnings=0 --fix, prettier --cache --write, stylelint --fix

fix
  src/containers/LeagueStage/Matrix/styles.module.scss
Due: prettier --cache --write, stylelint --fix

upd
  src/containers/LeagueStage/Matrix/TableStyles.tsx
  src/containers/LeagueStage/Matrix/index.tsx
Due: eslint --max-warnings=0 --fix, prettier --cache --write

fix signature
  src/utils/rangeGenerator.ts
Due: eslint --max-warnings=0 --fix, prettier --cache --write

upd
  src/containers/LeagueStage/Matrix/styles.module.scss
Due: prettier --cache --write, stylelint --fix

use index
  src/containers/LeagueStage/Matrix/index.tsx
Due: eslint --max-warnings=0 --fix, prettier --cache --write

use hook
  src/containers/LeagueStage/Matrix/index.tsx
  src/utils/hooks/useTableColumnHover.ts
Due: eslint --max-warnings=0 --fix, prettier --cache --write

nth-of-type
  src/containers/LeagueStage/Matrix/TableStyles.tsx
Due: eslint --max-warnings=0 --fix, prettier --cache --write

upd
  src/containers/LeagueStage/Matrix/index.tsx
Due: eslint --max-warnings=0 --fix, prettier --cache --write

fix
  src/ui/ball.module.scss
Due: prettier --cache --write, stylelint --fix

react 19
  package-lock.json
  package.json
  src/pages/cl/ko/index.tsx
  src/pages/el/ko/index.tsx
  src/ui/GroupsContainer/GroupCellDeferred/index.tsx
  src/ui/MatchupsContainer/MatchupCellDeferred/index.tsx
  src/ui/MatchupsContainer/index.tsx
  src/ui/table/Content/index.tsx
  src/ui/table/Table/index.tsx
  src/utils/hooks/usePrevious.ts
Due: eslint --max-warnings=0 --fix, prettier --cache --write
