Repository inker/draw: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=0 --fix, prettier --cache --write, stylelint --fix

ban four in five
  src/engine/dfs/ls/generateSchedule/assignGamesToMatchdays.ts
  src/engine/dfs/ls/generateSchedule/homeAwayPatterns.ts
Due: eslint --max-warnings=0 --fix, prettier --cache --write

epl
  src/config.ts
  src/containers/LeagueStage/Schedule/index.tsx
  src/containers/PremierLeague/ScheduleCreationDescription/index.tsx
  src/containers/PremierLeague/ScheduleCreationDescription/styles.module.scss
  src/containers/PremierLeague/index.tsx
  src/containers/PremierLeague/styles.module.scss
  src/data/epl/ls/2026/pots.json
  src/engine/dfs/epl/generateSchedule.ts
  src/engine/predicates/epl/utils/teamsThatCannotHostSameDay.ts
  src/model/Tournament.ts
  src/pages/epl/ls/index.tsx
  src/routes/HeadMetadata/data.ts
  src/routes/Navbar/SelectSeason.tsx
  src/routes/Navbar/tournamentAsString.ts
  tests/homeAwayPatterns.test.ts
Due: eslint --max-warnings=0 --fix, prettier --cache --write, stylelint --fix

fix
  src/pages/epl/ls/index.tsx
Due: eslint --max-warnings=0 --fix, prettier --cache --write

change minMatchdaysBetweenMeetings from 2 to 4
  src/engine/dfs/epl/generateSchedule.ts
Due: eslint --max-warnings=0 --fix, prettier --cache --write

update comment
  src/engine/dfs/epl/generateSchedule.ts
Due: eslint --max-warnings=0 --fix, prettier --cache --write

flow
  src/containers/LeagueStage/Schedule/index.tsx
  src/containers/LeagueStage/Schedule/styles.module.scss
Due: eslint --max-warnings=0 --fix, prettier --cache --write, stylelint --fix

icons
  src/containers/LeagueStage/Matrix/index.tsx
  src/containers/LeagueStage/Schedule/index.tsx
  src/containers/PremierLeague/getClubIconUrl.ts
  src/containers/PremierLeague/index.tsx
  src/ui/table/ContentWithFlag/index.tsx
Due: eslint --max-warnings=0 --fix, prettier --cache --write

top teams & boxing day
  src/containers/PremierLeague/ScheduleCreationDescription/index.tsx
  src/engine/dfs/epl/generateSchedule.ts
  src/engine/dfs/ls/generateSchedule/assignGamesToMatchdays.ts
  src/engine/predicates/epl/utils/bigSix.ts
  tests/assignGamesToMatchdays.test.ts
Due: eslint --max-warnings=0 --fix, prettier --cache --write

promoted
  src/containers/PremierLeague/ScheduleCreationDescription/index.tsx
  src/engine/dfs/epl/generateSchedule.ts
  src/engine/dfs/ls/generateSchedule/assignGamesToMatchdays.ts
  src/engine/predicates/epl/utils/promoted.ts
  tests/assignGamesToMatchdays.test.ts
Due: eslint --max-warnings=0 --fix, prettier --cache --write

refactor
  src/engine/dfs/epl/generateSchedule.ts
  src/engine/dfs/ls/generateSchedule/assignGamesToMatchdays.ts
  tests/assignGamesToMatchdays.test.ts
Due: eslint --max-warnings=0 --fix, prettier --cache --write

improve expose types
  src/engine/dfs/ls/generateSchedule/assignGamesToMatchdays.ts
  src/utils/worker/ToCloneable.test-d.ts
  src/utils/worker/ToCloneable.ts
  src/utils/worker/expose.ts
Due: eslint --max-warnings=0 --fix, prettier --cache --write

update comment
  src/engine/dfs/ls/generateSchedule/assignGamesToMatchdays.ts
Due: eslint --max-warnings=0 --fix, prettier --cache --write

update type
  src/engine/dfs/ls/generateSchedule/assignGamesToMatchdays.ts
Due: eslint --max-warnings=0 --fix, prettier --cache --write

update types
  src/engine/dfs/ls/generatePairings/getFirstSuitableMatch.ts
  src/engine/dfs/ls/generatePairings/index.ts
Due: eslint --max-warnings=0 --fix, prettier --cache --write

fixes
  .eslintrc.cjs
  package-lock.json
  package.json
  tests/__snapshots__/getHalfArrayOfIndex.test.ts.snap
Due: none

minor dependencies
  build/package-lock.json
  package-lock.json
Due: none

upd
  package-lock.json
  package.json
Due: none

upd
  build/package-lock.json
  build/package.json
  build/webpack/plugins.js
  src/template.html
Due: none

rspack
  build/package-lock.json
  build/package.json
  build/webpack/devServer.js
  build/webpack/index.js
  build/webpack/optimization.js
  build/webpack/plugins.js
  build/webpack/rules.js
Due: none

fixes
  package-lock.json
  package.json
  src/containers/LeagueStage/Schedule/index.tsx
Due: eslint --max-warnings=0 --fix, prettier --cache --write

upd
  build/package-lock.json
  build/package.json
  build/webpack/index.js
  build/webpack/plugins.js
  build/webpack/rules.js
Due: none

fix
  build/webpack/optimization.js
Due: none

cleanup
  .eslintrc.cjs
  build/package-lock.json
  build/package.json
  build/webpack/devServer.js
  build/webpack/index.js
  build/webpack/optimization.js
  build/webpack/plugins.js
Due: none

upd
  build/webpack/index.js
Due: none

ts
  build/package-lock.json
  build/package.json
  build/tsconfig.json
  build/webpack-bundle-analyzer.d.ts
  build/webpack.config.js
  build/webpack.config.ts
  build/webpack/devServer.ts
  build/webpack/index.ts
  build/webpack/optimization.js
  build/webpack/optimization.ts
  build/webpack/plugins.js
  build/webpack/plugins.ts
  build/webpack/rules.js
  build/webpack/rules.ts
  build/webpack/utils/getCurrentDate.ts
  build/webpack/utils/getLastCommitHash.js
  build/webpack/utils/getLastCommitHash.ts
  tsconfig.json
Due: none

rename
  .eslintignore
  build/package.json
  build/rspack.config.ts
  build/rspack/devServer.ts
  build/rspack/index.ts
  build/rspack/optimization.ts
  build/rspack/plugins.ts
  build/rspack/rules.ts
  build/rspack/utils/getCurrentDate.ts
  build/rspack/utils/getLastCommitHash.ts
  build/webpack.config.ts
  tsconfig.json
Due: none

stylelint-config-standard
  package-lock.json
  package.json
  stylelint.config.js
Due: none

remove postcss
  .eslintrc.cjs
  .lintstagedrc
  package-lock.json
  package.json
Due: none

cleanup
  .eslintignore
  .eslintrc.cjs
  .lintstagedrc
  build/package-lock.json
  build/package.json
  package-lock.json
  package.json
  src/routes/HeadMetadata/index.tsx
  src/routes/Pages/index.tsx
  src/utils/browser.ts
  tests/tsconfig.json
  tsconfig.json
  vitest.config.ts
Due: eslint --max-warnings=0 --fix, prettier --cache --write

eslint 10
  .eslintignore
  .eslintrc.cjs
  build/rspack/plugins.ts
  eslint.config.js
  package-lock.json
  package.json
Due: none

flatten config
  eslint.config.js
  package-lock.json
  package.json
Due: none

build
  .github/workflows/gh-pages.yml
  build/package-lock.json
  build/package.json
  package-lock.json
  package.json
Due: none

upd
  eslint.config.js
  tsconfig.json
Due: none

move rspack config
  build/rspack.config.ts
  build/tsconfig.json
  package.json
  rspack.config.ts
Due: none

upd
  build/rspack/index.ts
  build/rspack/utils/getLastCommitHash.ts
Due: none

upd
  build/rspack/index.ts
Due: none

upgrade eslint-plugin-react-hooks
  eslint.config.js
  package-lock.json
  package.json
  patches/eslint-plugin-react-hooks+4.6.2.patch
  src/App.tsx
  src/containers/LeagueStage/OpponentList/index.tsx
  src/containers/LeagueStage/index.tsx
  src/containers/PremierLeague/index.tsx
  src/pages/cl/gs/index.tsx
  src/pages/cl/ko/index.tsx
  src/pages/el/gs/index.tsx
  src/pages/el/ko/index.tsx
  src/pages/wc/gs/index.tsx
  src/routes/Navbar/index.tsx
  src/routes/Pages/index.tsx
  src/store/useDrawId.ts
  src/store/usePopup.ts
  src/ui/Announcement/Download.tsx
  src/ui/Dots/index.tsx
  src/ui/MovingContent/index.tsx
  src/utils/hooks/useDidUpdate.ts
  src/utils/hooks/usePrngGenerator.ts
  src/utils/hooks/useTimeoutControlled.ts
  src/utils/hooks/useTimer.ts
Due: eslint --max-warnings=0 --fix, prettier --cache --write

upd
  eslint.config.js
  src/Popup.tsx
  src/containers/LeagueStage/index.tsx
  src/containers/PremierLeague/index.tsx
  src/pages/cl/gs/index.tsx
  src/pages/cl/ko/index.tsx
  src/pages/el/gs/index.tsx
  src/pages/el/ko/index.tsx
  src/pages/wc/gs/index.tsx
  src/routes/Pages/index.tsx
  src/ui/Announcement/Download.tsx
  src/ui/Announcement/index.tsx
  src/ui/MovingContent/index.tsx
  src/ui/Portal.tsx
Due: eslint --max-warnings=0 --fix, prettier --cache --write

refactor parameters
  src/engine/dfs/epl/generateSchedule.ts
  src/engine/dfs/ls/generateSchedule/assignGamesToMatchdays.ts
  tests/assignGamesToMatchdays.test.ts
Due: eslint --max-warnings=0 --fix, prettier --cache --write

Path conditions:
  eslint --max-warnings=0 --fix: any of: src/**/*.{js,jsx,ts,tsx,json}
  prettier --cache --write: (any of: src/**/*.{js,jsx,ts,tsx,json}) or (any of: src/**/*.{css,postcss,scss})
  stylelint --fix: any of: src/**/*.{css,postcss,scss}
