Repository inker/draw: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=0 --fix, prettier --cache --write, stylelint --fix

deterministic splitMatchdaysIntoDays
  src/engine/dfs/ls/generateSchedule/splitMatchdaysIntoDays.ts
Due: eslint --max-warnings=0 --fix, prettier --cache --write

deterministic draw
  src/containers/LeagueStage/index.tsx
  src/engine/dfs/ls/generatePairings/getFirstSuitableMatch.ts
  src/engine/dfs/ls/generatePairings/index.ts
  src/engine/dfs/ls/generateSchedule/assignGamesToMatchdays.ts
  src/engine/dfs/ls/generateSchedule/assignGamesToMatchdays.wrapper.ts
  src/engine/dfs/ls/generateSchedule/index.ts
  src/utils/backtrack.ts
  src/utils/hmacSha256.ts
  src/utils/lowDiscrepancySequence.ts
  src/utils/prng.ts
  src/utils/prngFloat.ts
  src/utils/prngShuffle.ts
Due: eslint --max-warnings=0 --fix, prettier --cache --write

seed from url
  src/containers/LeagueStage/index.tsx
Due: eslint --max-warnings=0 --fix, prettier --cache --write

use bigint
  src/utils/prng.ts
Due: eslint --max-warnings=0 --fix, prettier --cache --write

Fisher-Yates
  src/utils/prngShuffle.ts
Due: eslint --max-warnings=0 --fix, prettier --cache --write

type
  src/containers/LeagueStage/index.tsx
  src/engine/dfs/ls/generatePairings/index.ts
  src/engine/dfs/ls/generateSchedule/index.ts
  src/utils/prngShuffle.ts
Due: eslint --max-warnings=0 --fix, prettier --cache --write

refactor
  src/containers/LeagueStage/index.tsx
  src/utils/prng.ts
Due: eslint --max-warnings=0 --fix, prettier --cache --write

fix eslint
  .eslintrc.cjs
Due: none

typings
  src/utils/hmacSha256.ts
  src/utils/prng.ts
  src/utils/prngFloat.ts
Due: eslint --max-warnings=0 --fix, prettier --cache --write

update types
  src/engine/dfs/ls/generatePairings/index.ts
  src/engine/dfs/ls/generateSchedule/index.ts
  src/utils/hmacSha256.ts
  src/utils/prng.ts
  src/utils/prngFloat.ts
Due: eslint --max-warnings=0 --fix, prettier --cache --write

test
  tests/hmacSha256.test.ts
Due: none

upd
  src/utils/hmacSha256.ts
Due: eslint --max-warnings=0 --fix, prettier --cache --write

batch
  src/utils/prng.ts
Due: eslint --max-warnings=0 --fix, prettier --cache --write

upd
  src/utils/prng.ts
Due: eslint --max-warnings=0 --fix, prettier --cache --write

counterSequence
  src/utils/counterSequence.ts
  src/utils/prng.ts
  tests/counterSequence.test.ts
Due: eslint --max-warnings=0 --fix, prettier --cache --write

tests
  tests/__snapshots__/prng.test.ts.snap
  tests/prng.test.ts
Due: none

deterministic
  src/containers/LeagueStage/Matrix/Table.tsx
  src/containers/LeagueStage/index.tsx
  src/pages/cl/gs/index.tsx
  src/pages/cl/ko/index.tsx
  src/pages/el/gs/index.tsx
  src/pages/el/ko/index.tsx
  src/pages/wc/gs/index.tsx
  src/utils/getRandomId.ts
  src/utils/hooks/usePrngGenerator.ts
  src/utils/prngShuffleAll.ts
Due: eslint --max-warnings=0 --fix, prettier --cache --write

upd
  src/engine/dfs/ls/generatePairings/index.ts
  src/engine/dfs/ls/generateSchedule/index.ts
Due: eslint --max-warnings=0 --fix, prettier --cache --write

better split
  src/engine/dfs/ls/generateSchedule/splitMatchdaysIntoDays.ts
  tests/splitMatchdaysIntoDays.test.ts
Due: eslint --max-warnings=0 --fix, prettier --cache --write

simplify splitMatchdaysIntoDays
  src/engine/dfs/ls/generateSchedule/splitMatchdaysIntoDays.ts
  tests/splitMatchdaysIntoDays.test.ts
Due: eslint --max-warnings=0 --fix, prettier --cache --write

upd
  tests/splitMatchdaysIntoDays.test.ts
Due: none

upd
  src/utils/prngShuffle.ts
  tests/__snapshots__/prngShuffle.test.ts.snap
  tests/prngShuffle.test.ts
Due: eslint --max-warnings=0 --fix, prettier --cache --write

bit stream
  src/utils/prngShuffle.ts
Due: eslint --max-warnings=0 --fix, prettier --cache --write

upd
  src/utils/prngShuffleAll.ts
Due: eslint --max-warnings=0 --fix, prettier --cache --write

bit stream util
  src/utils/bitStream.ts
  src/utils/prngShuffle.ts
  tests/bitStream.test.ts
Due: eslint --max-warnings=0 --fix, prettier --cache --write

upd comment
  src/utils/bitStream.ts
Due: eslint --max-warnings=0 --fix, prettier --cache --write

upd
  src/containers/LeagueStage/Schedule/index.tsx
  src/containers/LeagueStage/Schedule/styles.module.scss
Due: eslint --max-warnings=0 --fix, prettier --cache --write, stylelint --fix

rename
  src/containers/LeagueStage/index.tsx
  src/engine/dfs/ls/generatePairings/index.ts
  src/engine/dfs/ls/generateSchedule/assignGamesToMatchdays.wrapper.ts
  src/engine/dfs/ls/generateSchedule/index.ts
  src/pages/cl/gs/index.tsx
  src/pages/cl/ko/index.tsx
  src/pages/el/gs/index.tsx
  src/pages/el/ko/index.tsx
  src/pages/wc/gs/index.tsx
  src/utils/hooks/usePrngGenerator.ts
  src/utils/prng/bitStream.ts
  src/utils/prng/counterSequence.ts
  src/utils/prng/float.ts
  src/utils/prng/generator.ts
  src/utils/prng/hmacSha256.ts
  src/utils/prng/shuffle.ts
  src/utils/prng/shuffleAll.ts
  src/utils/worker/WorkerManager.ts
  src/utils/worker/raceWorkers.ts
  tests/bitStream.test.ts
  tests/counterSequence.test.ts
  tests/hmacSha256.test.ts
  tests/prngShuffle.test.ts
Due: eslint --max-warnings=0 --fix, prettier --cache --write

formatting
  src/pages/cl/ko/index.tsx
  src/pages/el/ko/index.tsx
  src/ui/Announcement/PossibleGroups/index.tsx
  src/ui/GroupsContainer/Group.tsx
  src/ui/PotsContainer/Pot/index.tsx
  tests/counterSequence.test.ts
  tests/generateValidPatterns.test.ts
  tests/getHalfArrayOfIndex.test.ts
Due: eslint --max-warnings=0 --fix, prettier --cache --write

fix
  src/utils/prefetchImage.ts
Due: eslint --max-warnings=0 --fix, prettier --cache --write

fix tests
  tests/prng.test.ts
  tests/prngShuffle.test.ts
Due: none

simplify
  src/utils/hooks/usePrngGenerator.ts
Due: eslint --max-warnings=0 --fix, prettier --cache --write

upd
  src/utils/hooks/usePrngGenerator.ts
Due: eslint --max-warnings=0 --fix, prettier --cache --write

rename
  src/utils/hooks/usePrngGenerator.ts
Due: eslint --max-warnings=0 --fix, prettier --cache --write

fix
  tests/bitStream.test.ts
  tests/prngShuffle.test.ts
Due: none

upd
  tests/assignGamesToMatchdays.test.ts
  tests/backtrack.test.ts
  tests/bitStream.test.ts
  tests/counterSequence.test.ts
  tests/generateValidPatterns.test.ts
  tests/getHalfArrayOfIndex.test.ts
  tests/hmacSha256.test.ts
  tests/isInsideInterval.test.ts
  tests/pairUpTeams.test.ts
  tests/prng.test.ts
  tests/prngShuffle.test.ts
  tests/seasonFacts.test.ts
  tests/splitMatchdaysIntoDays.test.ts
Due: none

fix
  tests/seasonFacts.test.ts
Due: none

rename
  src/engine/dfs/ls/generatePairings/getFirstSuitableMatch.wrapper.ts
  src/utils/hooks/useWorkerSendAndReceive.ts
  src/utils/worker/raceWorkers.ts
  src/utils/worker/rpc.ts
Due: eslint --max-warnings=0 --fix, prettier --cache --write

Path conditions:
  eslint --max-warnings=0 --fix: any of: src/**/*.{js,jsx,ts,tsx,json}
  prettier --cache --write: (any of: src/**/*.{js,jsx,ts,tsx,json}) or (any of: src/**/*.{css,postcss,scss})
  stylelint --fix: any of: src/**/*.{css,postcss,scss}
